[Desktop Entry]
Encoding=UTF-8
Name=Crave
Comment=Crave P2P Cryptocurrency
Comment[fr]=Crave, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Crave, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/crave-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/crave;
Categories=Office;
